AUTH_SECRET="replace-with-a-long-random-string"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Production storage
DATABASE_URL=""
BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""


GEMINI_API_KEY=""
REMOVE_BG_API_KEY=""